.cw.page {
  display: inline-block;
  list-style-type: none;
}
.cw.page:after {
  content: ' ';
  display: block;
  clear: both;
}
.cw.page > li {
  float: left;
  min-width: 24px;
  height: 28px;
  margin: 0 1px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}
.cw.page > li:hover {
  border-bottom: 2px solid #0fa65f;
}
.cw.page > li.other {
  cursor: default;
}
.cw.page > li.disabled {
  border-bottom: 0;
  color: #bfbfbf;
  cursor: default;
}
.cw.page > li.other:hover {
  border-bottom: 0;
}
.cw.page > li.current {
  border-bottom: 0;
  color: #fff;
  background-color: #21bd73;
  cursor: default;
}
.cw.page > li.prev {
  margin-right: 18px;
}
.cw.page > li.next {
  margin-left: 18px;
}
.cw.scroll.outer {
  position: relative;
  overflow: hidden;
}
.cw.scroll.outer > :first-child {
  position: relative;
}
.cw.scroll.outer:hover .cw.scroll-outer {
  opacity: 1;
}
.cw.scroll.outer .cw.scroll-outer {
  position: absolute;
  top: 8px;
  right: 4px;
  width: 4px;
  border-radius: 2px;
  background-color: #efefef;
  opacity: 0;
  overflow: hidden;
  transition: opacity 250ms;
}
.cw.scroll.outer .cw.scroll-inner {
  position: absolute;
  left: 0;
  width: 4px;
  border-radius: 2px;
  background-color: #75d6a8;
}
.cw.scroll.outer .cw.scroll-inner:hover {
  background-color: #53bf8c;
}
.cw.radio {
  display: inline-block;
}
.cw.radio:after {
  content: ' ';
  display: block;
  clear: both;
}
.cw.radio > div {
  padding-left: 19px;
  color: #313131;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-image: url('images/icon_select.png');
  cursor: pointer;
}
.cw.radio > div.checked {
  color: #21bd73;
  font-weight: bold;
  background-image: url('images/icon_selected.png');
}
.cw.radio.hor > div {
  float: left;
  margin-right: 20px;
}
.cw.checkbox {
  display: inline-block;
}
.cw.checkbox:after {
  content: ' ';
  display: block;
  clear: both;
}
.cw.checkbox > div {
  padding-left: 19px;
  color: #313131;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-image: url('images/icon_checkbox.png');
  cursor: pointer;
}
.cw.checkbox > div.checked {
  color: #21bd73;
  font-weight: bold;
  background-image: url('images/icon_checkbox_selected.png');
}
.cw.checkbox.hor > div {
  float: left;
  margin-right: 30px;
}
.cw.select {
  position: relative;
  display: inline-block;
  height: 30px;
  border: 1px solid #dbdcde;
}
.cw.select > div {
  position: relative;
  padding-left: 8px;
  padding-right: 26px;
  cursor: pointer;
}
.cw.select > div p {
  height: 30px;
  margin: 0;
  line-height: 30px;
}
.cw.select > div i {
  position: absolute;
  top: 12px;
  right: 6px;
  width: 10px;
  height: 6px;
  background-repeat: no-repeat;
  background-image: url('images/icon_dropdown.png');
  background-position: right center;
}
.cw.select > ul {
  position: absolute;
  left: -1px;
  top: 31px;
  z-index: 11;
  display: none;
  width: 100%;
  height: 0;
  border: 1px solid #dbdcde;
  border-top: 0;
  text-align: left;
  background: #fff;
  overflow: hidden;
}
.cw.select > ul > li {
  float: none!important;
  height: 30px;
  padding-left: 8px;
  line-height: 30px;
  cursor: pointer;
}
.cw.select.expand i {
  background-image: url('images/icon_dropup.png');
}
.cw.select.expand ul {
  display: block;
}
.cw.alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.cw.alert > div {
  width: 560px;
  margin: 0 auto;
  background-color: #fff;
  opacity: 0;
}
.cw.alert > div > div {
  padding: 48px;
}
.cw.alert > div > button {
  display: block;
  width: 100%;
  height: 48px;
  border: 0;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
.cw.confirm {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.cw.confirm > div {
  width: 560px;
  margin: 0 auto;
  background-color: #fff;
  opacity: 0;
}
.cw.confirm > div > div {
  padding: 32px;
}
.cw.confirm > div > button {
  float: left;
  width: 50%;
  height: 48px;
  border: 0;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}
.cw.confirm > div > button.ok {
  color: #fff;
  background-color: #75d6a8;
}
