* {
	padding: 0;
	margin: 0;
	font-size: 14px;
}

body {
	min-width: 1024px;
	font-family: '微软雅黑';
	overflow-y: hidden;
}

.highlight {
	background-color: yellow!important;
}

.cover-highlight {
	position: absolute;
	top:  0;
	left: 0;
	z-index: 999;
	display: none;
	border: 8px solid yellow;
}
.cover-highlight.show {
	display: block;
}

.component-wrap {
	position: relative;
	/*float: left;*/
	font-size: 0;
}

.component-wrap:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}





#container {
	display: flex;
	flex-direction: column;
	width:  100vw;
	height: 100vh;
}

#top {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 64px;
	padding: 0;
	box-shadow: 0 3px 3px #aaa;
	color: #fff;
	background-color: #21bd73;
}

#top .cw-col {
	line-height: 24px;
}

#top .cw-col:nth-child(2n + 1) {
	margin-right: 8px;
	/*font-size: 16px;*/
}

#top .cw-col:nth-child(2n) {
	margin-right: 32px;
}

#top input {
	width: 46px;
	padding: 0 8px;
	border: 1px solid #dbdcde;
	border-radius: 2px;
	line-height: 22px;
	text-align: center;
}





#center {
	display: flex;
	height: 661px;
}

#center .h3 {
	height: 45px;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	line-height: 45px;
	text-align: center;
}

#left-of-center {
	width: 190px;
	padding-top: 4px;
}

#right-of-center {
	width: 200px;
}

#right-of-center .list-of-created {
	height: 618px;
}

#right-of-center .created-component-list {
	list-style-type: none;
}

#right-of-center .created-component-list > li {
	position: relative;
	padding-left:  24px;
	padding-right: 8px;
	border-bottom: 1px solid #e0e0e0;
	line-height:   32px;
	cursor: pointer;
}
#right-of-center .created-component-list > li:last-child {
	border-bottom: 0;
}

#right-of-center .created-component-list > li > i {
	float:  right;
	display: none;
	width:  16px;
	height: 20px;
	margin: 6px 0;
    color: red;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
	line-height: 20px;
	cursor: pointer;
}

#right-of-center .created-component-list > li:hover > i {
	display: block;
}

#right-of-center .created-component-list > li > div {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 8px;
	height: 100%;
	background-color: #21bd73;
}
#right-of-center .created-component-list > li.active > div,
#right-of-center .created-component-list > li:hover > div {
	display: block;
}
#right-of-center .created-component-list > li.active > span {
	color: #21bd73;
}



#main {
	flex: 1;
	/*width: 1000px;*/
	display: flex;
	flex-direction: column;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	overflow-x: hidden;
}

#main-toolbox {
	padding: 9px 16px;
	text-align: right;
}

#main-canvas {
	flex: 1;
	position: relative;
	border-top: 1px solid #ccc;
	overflow-y: scroll;
	overflow-x: hidden;
}

#main-root {
	min-height: 100%;
	padding: 16px 32px 1px 32px;
	background-color: #fffeee;
}

#main-root:empty {
	padding: 0;
}

#main-root .cw-row,
#main-root .cw-col {
	position: relative;
}

#main-root .cw-row {
	margin-left:  -16px;
	margin-right: -16px;
	margin-bottom: 16px;
}

#main-root.dev .cw-row {
	background-color: rgba(255,0,0,.5);
}

#main-root .cw-row:empty {
	height: 21px;
}

#main-root .cw-col {
	padding-left:  16px;
	padding-right: 16px; 
	background-color: #fff;
}
#main-root .cw-col:empty {
	height: 21px;
}

#bottom {
	position: relative;
	z-index: 1000;
	flex: 1;
	padding: 16px 0 0 0;
	/*box-shadow: 0 -3px 3px #a9a9a9;*/
}

#bottom.empty {
    display: flex;
	align-items: center;
    justify-content: center;
}

#bottom > span {
	color: gray;
	font-size: 20px;
}

#bottom .cw-row {
	/*margin-left:  -8px;
    margin-right: -8px;*/
	margin-bottom: 16px;
}

#bottom .cw-col {
	padding: 0 8px;
}

#bottom .cw-col input {
	width: 104px;
	height: 19px;
	padding: 0 8px;
	border-width: 0;
	line-height: 19px;
}